@import 'reset.scss';
@import 'layout.scss';
@import 'heading.scss';
@import '/vars.scss';

body, html {
    width: 100%;
    height: 100%;

    font-family: $fontFamily;
    font-size: 14px;

    line-height: (20px / 14px);
}

* {
    box-sizing: border-box;
}

.appContainer {
    min-height: 100%;
}

.pageContainer {
    position: relative;
    left: $sidebarWidth / 2;

    padding: 1.5rem 0;
}

table {
    width: 100%;
    margin: 16px 0;

    thead {
        tr {
            border-bottom: 2px solid #e58069;
            text-transform: uppercase;
            text-align: left;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #f5f5f5;
            transition: 150ms;

            &:hover, &.table--rowHover {
                background-color: rgba(229, 223, 223, 0.25);
                transition: 150ms;
            }
        }
    }

    thead th, tbody td {
        padding: 1.65rem 1.75rem;
        line-height: 0;
        font-size: 1rem;
    }
}