h6 { font-size: 1rem; }
h5 { font-size: 1.25rem; }
h4 { font-size: 1.5rem; }
h3 { font-size: 1.75rem; }
h2 { font-size: 2rem; }
h1 { font-size: 2.25rem; }

h1 .headingSubtitle,
h2 .headingSubtitle,
h3 .headingSubtitle,
h4 .headingSubtitle,
h5 .headingSubtitle,
h6 .headingSubtitle {
    display: block;
    font-size: 1.15rem !important;
    color: #a6a6a6;
}