@import '/mixins.scss';
@import '/vars.scss';

.container {
    margin: 0 auto;

    @include responsive-desktop {
        width: $containerWidth;
    }

    @include responsive-mobile {
        width: 100%;
        padding: 0 15px;
    }
}
