@import '/vars.scss';

@mixin responsive-desktop() {
    @media screen and (min-width: $containerWidth) {
        @content
    }
}

@mixin responsive-mobile() {
    @media screen and (max-width: $containerWidth) {
        @content
    }
}