.pageLoader {
    width: 100%;
    height: calc(100vh - 3rem);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

.page {
    min-height: calc(100vh - 3rem);
    padding: 1.5rem;

    animation-name: page__enter;
    animation-duration: 250ms;
    animation-iteration-count: 1;

    transform-origin: center center;
}

@keyframes page__enter {
    from {
        transform: scale(0.975);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}