@import '../vars.scss';

.sidebar {
    float: left;

    width: $sidebarWidth;
    height: 100%;
    min-height: 100vh;

    background-color: #f5f5f5;

    position: relative;
}

.notification {
    width: 100%;

    position: absolute;
    bottom: 0;
    padding: 12px;
    background-color: #ff8e75;
    color: white;

    display: flex;
    align-items: center;

    animation-name: notification__enter;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    animation-iteration-count: 1;

    &--play-enter-anim {
        animation-name: notification__enter;
    }

    &--play-exit-anim {
        animation-name: notification__exit;
    }

    .notifcation__timeline {
        width: 100%;
        height: 3px;
        background-color: #fac8ba;

        position: absolute;
        left: 0;
        bottom: 0;

        animation-name: notification__timeline__through;
        animation-fill-mode: forwards;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .notification__text {
        flex: 1;
    }

    .notification__button {
        width: 32px;
        height: 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #e58069;
        border-radius: 16px;

        cursor: pointer;
        transition: 250ms;

        &:hover {
            background-color: #ce745e;
            transition: 250ms;
        }
    }
}

.category {
    padding: 4px 0;

    animation-name: category__enter;
    animation-duration: 250ms;
    animation-iteration-count: 1;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.category__title {
    padding: 12px 12px;
    font-weight: 500;
}

.category__actions {
    float: right;
    font-weight: 400;

    .category__action {
        display: inline-block;
        margin-right: 18px;
        color: #e2e2e2;
        transition: 150ms;
        cursor: pointer;

        &:hover {
            color: #505050;
            transition: 150ms;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .category__action__move {
        cursor: move !important;
    }
}

.category__items {
    .category__item {
        padding: 12px 24px;
        cursor: pointer;
        transition: 150ms;

        animation-name: category__enter;
        animation-duration: 250ms;
        animation-iteration-count: 1;

        a {
            color: #1c1c1c !important;
            text-decoration: none;
        }
    }

    .category__item--active {
        background-color: #e3e3e3 !important;
    }

    .category__item:hover {
        background-color: #efefef;
        transition: 150ms;
    }

    .category__item:active, .category__item:focus {
        background-color: #e3e3e3;
        transition: 150ms;
    }

    .category__item--active, .category__item:hover {
        .category__actions {
            .category__action {
                color: #999999;

                &:hover {
                    color: #3b3b3b;
                }
            }
        }
    }
}

.category__noItemsMessage {
    margin: 8px 24px;
    color: #969696;
}

.noCategoriesMessage {
    color: #969696;
    text-align: center;
    margin: 12px 0;
}

.newCategoryButton {
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    transition: 150ms;
    color: #969696;

    &:hover {
        transition: 150ms;
        color: #1c1c1c;
    }

    .newCategoryButton__icon {
        padding-right: 8px;
        font-size: 12px;
    }
}

input[type=text] {
    animation-name: input__enter;
    animation-duration: 250ms;
    animation-iteration-count: 1;

    border: 0;
    background: transparent;
    outline: none;

    font-family: $fontFamily;
    font-size: 14px;

    border-left: 3px solid #e5ccc0;
    padding-left: 8px;

    &:focus {
        border-left: 3px solid #e58069;
    }
}

@keyframes notification__enter {
    from {
        bottom: -64px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes notification__exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes notification__timeline__through {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes category__enter {
    from {
        transform: translateX(-12px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes input__enter {
    from {
        transform: translateY(4px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}